/* Thanh tìm kiếm */
.topic-search-bar {
  display: flex;
  align-items: center;

  padding: 10px 0px 0px 0px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  width: 100%;
}

/* TextField chỉnh lại để chiếm toàn bộ chiều ngang */
.topic-search-text {
  flex: 1;
}

/* Container bảng */
.topic-table-container {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Bảng */
.topic-table {
  width: 100%;
  border-collapse: collapse;
}

/* Header bảng */
.head-topic th {
  font-weight: bold;
  font-size: 16px;
  background-color: #c4c4c4;
  color: #000000;
}

/* Các cell */
.topic-table th,
.topic-table td {
  padding: 12px;
  text-align: left;
}

/* Hành động */
.topic-table-actions {
  display: flex;
  justify-content: space-around;
}

/* Hộp thoại (nếu có) */
.dialog-title {
  font-size: 20px;
  font-weight: bold;
}

.dialog-content {
  margin-top: 10px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
}
