/* Định dạng bảng */
.lesson-table-container {
  position: relative;
  left: 170px;
  max-width: calc(100% - 170px);
}
.tabstatus {
  position: relative;
  left: 170px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  max-width: calc(100% - 170px);
  margin-bottom: 10px;
}
/* CSS */
.MuiTabs-root .MuiTab-root.Mui-selected {
  background-color: #9fbef7; /* Màu nền khi active */
}

.tabitem {
  border: 0.5px solid black;
  font-weight: bold;
  margin: 0 4px;
  border-radius: 4px;
}

.head-lesson th {
  background-color: rgb(195, 196, 196);
  font-weight: bold;
  font-size: 16px;
}
.lesson-search-bar {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 170px;
  background-color: rgb(245, 253, 255);
  padding: 10px;
  max-width: 50%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.lesson-search-start {
  width: 400px;
}
.lesson-search-end {
  width: 400px;
}
.lesson-table {
  border-collapse: collapse;
}

.lesson-table th,
.lesson-table td {
  padding: 12px;
  text-align: left;
}

.lesson-table-actions {
  display: flex;
  justify-content: space-around;
}

.dialog-title {
  font-size: 20px;
  font-weight: bold;
}

.dialog-content {
  margin-top: 10px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
}
