/* Container cho dropdown và ô tìm kiếm */
.quest-topbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

/* Dropdown và ô nhập mặc định đều được tự điều chỉnh kích thước */
.quest-topbar .MuiFormControl-root {
  flex-shrink: 0;
}

/* Điều chỉnh ô tìm kiếm theo ngày */
.quest-search-start,
.quest-search-end {
  width: 180px;
}

/* Định dạng bảng */
.quest-table-container {
  width: 100%;
  margin-bottom: 10px;
}

/* CSS */
.MuiTabs-root .MuiTab-root.Mui-selected {
  background-color: #9fbef7;
}
.label {
  margin-top: 10px;
}
.quest-filter {
  position: relative;
  left: 170px;
  font-weight: bold;
  max-width: 88%;
  margin-bottom: 10px;
}
.quest-search-container {
  padding-bottom: 6px;
  width: 28%;
}
/* Thanh tìm kiếm */
.quest-search-bar {
  background-color: rgb(245, 253, 255);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.quest-searchdate-bar {
  background-color: rgb(245, 253, 255);
  border-radius: 8px;
  gap: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: auto;
}
.quest-dropdown {
  background-color: rgb(245, 253, 255);
  gap: 10px;
  display: flex;
  align-items: center;
}
.tabitem {
  border: 0.5px solid black;
  font-weight: bold;
  margin: 0 4px;
  border-radius: 4px;
  color: #000000 !important;
  font-weight: bold;
}
.MuiTabs-indicator {
  background-color: #0044cc !important;
}
.head-quest th {
  background-color: #c4c4c4;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
}

.quest-table {
  border-collapse: collapse;
  width: 100%;
  border-collapse: collapse;
}

.quest-table th,
.quest-table td {
  padding: 12px;
  text-align: left;
}

/* Zebra striping cho các hàng */
.quest-table tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.quest-table tbody tr:nth-of-type(even) {
  background-color: #fff;
}

.quest-table-actions {
  display: flex;
  justify-content: space-around;
}

.dialog-title {
  font-size: 20px;
  font-weight: bold;
}

.dialog-content {
  margin-top: 10px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
}
