/* Container bảng: chiếm toàn bộ chiều ngang của vùng chứa */
.lessques-table-container {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.label {
  padding-top: 10px;
}
/* Header bảng */
.head-lessques th {
  font-weight: bold;
  font-size: 16px;
  background-color: #c4c4c4;
  color: #000000;
}

/* Bảng */
.lessques-table {
  width: 100%;
  border-collapse: collapse;
}

/* Padding cho các ô */
.lessques-table th,
.lessques-table td {
  padding: 12px;
  text-align: left;
}

/* Hành động */
.lessques-table-actions {
  display: flex;
  justify-content: space-around;
}

/* Các phần hộp thoại nếu có */
.dialog-title {
  font-size: 20px;
  font-weight: bold;
}

.dialog-content {
  margin-top: 10px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
}

/* Label cho select (nếu có) */
.select-center-label {
  width: 100%;
}
