/* Định dạng bảng */
.account-table-container {
  max-width: 100%;
  margin-bottom: 10px;
}
.head-account th {
  background-color: #c4c4c4;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
}
.account-search-bar {
  background-color: rgb(255, 255, 255);
}

.account-table {
  border-collapse: collapse;
}

.account-table th,
.account-table td {
  padding: 12px;
  text-align: left;
}

.account-table-actions {
  display: flex;
  justify-content: space-around;
}

.dialog-title {
  font-size: 20px;
  font-weight: bold;
}

.dialog-content {
  margin-top: 10px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
}
