/* src/App.css */
:root {
  --yellow: linear-gradient(180deg, #f8d49a -146.42%, #fad79d -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);
  --pink: #ff919d;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}

.App {
  /* padding: 0.5rem 3.5rem; */
  color: var(--black);
  background: linear-gradient(135deg, hsl(0, 0%, 100%), #ffffff);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}
.side {
  height: 50px;
}
.AppGlass {
  /* display: grid; */
  height: 87%;
  width: 100%;
  margin: 70px 0px 40px 100px;
  border-radius: 2rem;
  gap: 16px;
  overflow-x: hidden;
  overflow-y: hidden;
  /* margin-left: 280px; */
  margin-right: 10px;
}

@media screen and (max-width: 1200px) {
  .AppGlass {
    grid-template-columns: 10% 90%;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .AppGlass {
    grid-template-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
